/* 
# ============================================================================ 
# FILE NAME     : myapp/views.py
# AUTHOR        : DONG XUAN HIEN
# DIVISION      : HYUNDAI KEFICO Co.,Ltd.
# DESCRIPTION   : Define CSS
# HISTORY       : 05/11/2025
# ============================================================================ 
*/

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
    padding-top: 50px;
}
h1 {
    color: #333;
}